body {
   margin-left: 3%;
}
h2 {
   font-family: Fira, sans-serif;
   font-size: 24px;
   margin-bottom: 10px;
   color: #000000;
}
p, li {
   font-family: Fira, sans-serif;
   font-size: 18px;
   margin-right: 10px;
}
a {
   font-family: Fira, sans-serif;
   font-size: 18px;
   text-decoration: none;
   color: #00008B;
}
table {
   font-family: Fira, sans-serif;
   font-size: 18px;
   width: 80%;
   margin-left: 2%;
   table-layout: fixed;
   border-collapse: collapse
}
td {
   border: 2px solid #000;
   vertical-align: top;
   overflow: hidden;
   padding-left: 0.7%
}
td.key  {
    width: 20%; 
}
td.value  {
    width: 80%; 
}
.property {
   padding-top: 10px;
   padding-bottom: 10px;
}
